@media screen and (max-width: 768px) {
    body {
        & .hero{
            height: 100%;
            & img{
                content: url('assets/mobile.webp');
            }
        }
        & .o-que-e{
            & a{
                width: 100%;
                font-size: 1.5em;
                padding: 0.5em 1em;
                margin: 0.5em;
            }
        }
        & .creator{
            & .description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.4);
                align-items: center;
                text-align: center;
            }
        }
        & .encontrar{
            & a{
                width: 100%;
                font-size: 1.5em;
                padding: 0.5em 1em;
                margin: 0.5em;
            }
        }
        & .onde{
            & p{
                font-size: 1.5em;
                /* padding: 0.5em 1em; */
                /* margin: 0.5em; */
                & a{
                    background-color: transparent;
                }
            }
        }
        & .cta{
            & p{
                font-size: 1.5em;
                padding: 0.5em 1em;
                margin: 0.5em;
                width: 80%;
            }
            & a{
                width: 100%;
                font-size: 1.5em;
                padding: 0.5em 1em;
                margin: 0.5em;

                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}