@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --vermelho: #950004;
    --vermelho2: #770003;
    --vermelho3: #580002;
    --vinho: #520723
;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', 'Montserrat', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 0;
    overscroll-behavior: contain;
    scroll-snap-type: y proximity;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    background-color: var(--vinho);
    & .hero{
        width: auto;
        height: 100svh;
        display: flex;
        /* justify-content: center; */
        margin-bottom: 1em;
        z-index: 1;

        & img{
            /* width: 100%; */
            height: 100%;
            /* object-fit: conta; */
            object-position: center;
        }
    }
    & .o-que-e{
        
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: #c78f29 solid 1px;

        & h2{
            padding-block: 1em;
            font-size: 3em;
            /* text-shadow: 2px 1px 1px #eed988; */
            color: #c78f29;
            text-align: center;
            font-weight: 600;
            /* margin-bottom: 1em; */
            letter-spacing: 0.12em;
        }

        & h4{
            font-size: 1.6em;
            color: black;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.08em;
            /* width: 80%; */
            margin-bottom: 1em;
        }
        p{
            /* text-shadow: 1px 2px 1px black; */
            font-size: 1.2em;
            color: black;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.05em;
            width: 80%;
            margin-bottom: 1em;
        }
        & a{
            width: 30%;
            text-align: center;
            font-size: 2.2em;
            background-color: #c78f29;
            color: white;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 0.08em;
            padding: 0.5em 1.5em;
            border-radius: 0.5em;
            margin-bottom: 1em;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: white;
                color: #c78f29;
                border: #c78f29 solid 1px;
            }
        }
    }

    & .creator{
       background-image: url('assets/glacielle.png');
       background-repeat: no-repeat;
       background-size: contain;
       background-position: fixed;
       background-attachment: fixed;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: #c78f29 solid 1px;
        height: 90svh;
        & .description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1em;
            & h2{
                padding-block: 1em;
                font-size: 3.5em;
                text-shadow: 2px 1px 1px #eed988;
                color: #c78f29;
                text-align: center;
                font-weight: 600;
                /* margin-bottom: 1em; */
                letter-spacing: 0.12em;
            }
    
            & h4{
                font-size: 1.8em;
                color: black;
                text-align: center;
                font-weight: 400;
                letter-spacing: 0.08em;
                /* width: 80%; */
                margin-bottom: 1em;
            }
            p{
                /* text-shadow: 1px 2px 1px black; */
                font-size: 1.2em;
                color: black;
                text-align: center;
                font-weight: 100;
                letter-spacing: 0.06em;
                width: 70%;
                line-height: 2em;
                margin-bottom: 1em;
            }
        }
    }
    & .para-quem{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-bottom: #c78f29 solid 1px;
        & h2{
            padding-block: 1em;
            font-size: 3.5em;
            /* text-shadow: 2px 1px 1px #eed988; */
            color: #c78f29;
            text-align: center;
            font-weight: 600;
            /* margin-bottom: 1em; */
            letter-spacing: 0.12em;
            height: inherit;
        }

        & h4{
            font-size: 1.8em;
            /* height: 10em; */
            color: black;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.08em;
            /* width: 80%; */
            margin-bottom: 1em;
        }
        p{
            /* text-shadow: 1px 2px 1px black; */
            font-size: 1.2em;
            color: black;
            text-align: center;
            font-weight: 100;
            /* margin-block: 1em; */
            letter-spacing: 0.06em;
            width: 80%;
            margin-bottom: 1em;
            align-items: center;
            overflow: visible;
            white-space: normal;
            word-break: break-word;
            height: 2.5em;

            & span{
                margin-right: 0.5em;
                padding: 0.4em;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                -webkit-border-radius: 50%;
                border: #c78f29 solid 1px; 
            }
        }
    }

    & .como{
         background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: #c78f29 solid 1px;
        & h2{
            padding-block: 1em;
            font-size: 3.5em;
            /* text-shadow: 2px 1px 1px #eed988; */
            color: #c78f29;
            text-align: center;
            font-weight: 600;
            /* margin-bottom: 1em; */
            letter-spacing: 0.12em;
        }

        & h4{
            font-size: 1.8em;
            color: black;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.08em;
            /* width: 80%; */
            margin-bottom: 1em;
        }
        p{
            /* text-shadow: 1px 2px 1px black; */
            font-size: 1.2em;
            color: black;
            text-align: center;
            font-weight: 100;
            letter-spacing: 0.06em;
            width: 70%;
            line-height: 2em;
            margin-bottom: 1em;
        }
    }
    & .encontrar{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-bottom: #c78f29 solid 1px;
        & h2{
            padding-block: 1em;
            font-size: 3.5em;
            /* text-shadow: 2px 1px 1px #eed988; */
            color: #c78f29;
            text-align: center;
            font-weight: 600;
            /* margin-bottom: 1em; */
            letter-spacing: 0.12em;
            height: inherit;
        }

        & h4{
            font-size: 1.8em;
            /* height: 10em; */
            color: black;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.08em;
            /* width: 80%; */
            margin-bottom: 1em;
        }
        p{
            /* text-shadow: 1px 2px 1px black; */
            font-size: 1.2em;
            color: black;
            text-align: center;
            font-weight: 200;
            /* margin-block: 1em; */
            letter-spacing: 0.06em;
            width: 80%;
            margin-bottom: 1em;
            align-items: center;
            overflow: visible;
            white-space: normal;
            word-break: break-word;
            height: 2.5em;

            & span{
                margin-right: 0.5em;
                padding: 0.4em;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                -webkit-border-radius: 50%;
                border: #c78f29 solid 1px; 
            }
        }
        & a{
            width: 30%;
            text-align: center;
            font-size: 2.2em;
            background-color: #c78f29;
            color: white;
            text-decoration: none;
            font-weight: 300;
            letter-spacing: 0.08em;
            padding: 0.5em 1.5em;
            margin-bottom: 1em;
            transition: all 0.3s ease-in-out;
            border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -ms-border-radius: 0.5em;
            -o-border-radius: 0.5em;
            &:hover{
                background-color: white;
                color: #c78f29;
                border: #c78f29 solid 1px;
            }
        }
    }

    .receber{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        justify-content: center;
        padding: 2em;
        border-bottom: #c78f29 solid 1px;
        width: 100%;
        & h2{
            font-size: 2.5em;
            color: #c78f29;
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.18em;
            margin-bottom: 1em;
        }
        & #para{
            background-color: #c78f29;
            color: white;
              border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -ms-border-radius: 0.5em;
            -o-border-radius: 0.5em;

            & p{
                color: white;
                font-weight: 200;
            }
        }
        & i{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            font-size: 1.2em;
            color: #c78f29;
            /* margin-bottom: 0.5em; */
            padding: 1em;
            & p {
                overflow-y: hidden;
                margin-left: 0.5em;
                font-weight: 100;
                font-size: 1.5em;
                color: black;
                letter-spacing: 0.05em;
            }
        }
        & a{
            width: 30%;
            text-align: center;
            font-size: 2.2em;
            background-color: #c78f29;
            color: white;
            text-decoration: none;
            font-weight: 400;
            letter-spacing: 0.15em;
            padding: 0.5em 1.5em;
            border-radius: 0.5em;
            margin-bottom: 1em;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: white;
                color: #c78f29;
                border: #c78f29 solid 1px;
            }
        }
    }

    .galeria{
        background-color: white;
        /* padding-block: 2em; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 3em;
        flex-wrap: wrap;
        border-bottom: #c78f29 solid 1px;
        gap: 1em;
        & img{
            width: 90%;
            height: auto;
            border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -ms-border-radius: 0.5em;
            -o-border-radius: 0.5em;
        }
    }
    & .para{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: white;
        padding: 2em;
        & h2{
            font-size: 2.5em;
            color: #c78f29;
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.18em;
            margin-bottom: 1em;
        }
        & .card{
             border-radius: 1em;
             -webkit-border-radius: 1em;
             -moz-border-radius: 1em;
             -ms-border-radius: 1em;
             -o-border-radius: 1em;
             
             background-color: #c78f29;
             color: white;
             width: 50%;
             text-align: center;
             font-weight: 200;
             padding: 1em;
                & i{
                font-size: 4em;
                color: white;
                margin-right: 0.5em;
                overflow-y: hidden;
                margin-bottom: 0.5em;
            }
            & .description, & p {
                font-weight: 100;
                font-size: 1.5em;
                color: white;
                letter-spacing: 0.05em;
            }
        }
        & .desc{
            font-size: 1.2em;
            color: black;
            text-align: center;
            font-weight: 100;
            letter-spacing: 0.05em;
            width: 50%;
            margin-bottom: 1em;
        }
        & a{
            width: 30%;
            text-align: center;
            font-size: 2.2em;
            background-color: #c78f29;
            color: white;
            text-decoration: none;
            font-weight: 400;
            letter-spacing: 0.15em;
            padding: 0.5em 1.5em;
            border-radius: 0.5em;
            margin-bottom: 1em;
            transition: all 0.3s ease-in-out;

            &:hover{
                background-color: white;
                color: #c78f29;
                border: #c78f29 solid 1px;
            }
        }
    }

    & .depoimentos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: white;
        padding: 2em;
        border-bottom: #c78f29 solid 1px;

        & p{
            font-size: 1.8em;
            color: #c78f29;
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.09em;
            width: 80%;
            margin-bottom: 1em;
            overflow-y: hidden;
        }

        & .video{
            display: flex;
            gap: 1em;
            height: 50em;
            margin-bottom: 1em;
            & video{
                width: 100%;
                border-radius: 0.5em;
            }
        }

    }

    .onde{

        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: white;
        padding: 2em;
        border-bottom: #c78f29 solid 1px;
        padding: 2em;
        
        & .local{
            border-radius: 1em;
                -webkit-border-radius: 1em;
                -moz-border-radius: 1em;
                -ms-border-radius: 1em;
                -o-border-radius: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            background-color: #c78f29;
        }

        & img{
            width: 40%;

 border-radius: 1em;
             -webkit-border-radius: 1em;
             -moz-border-radius: 1em;
             -ms-border-radius: 1em;
             -o-border-radius: 1em;


        }
        
        & h2{
            padding-block: 1em;
            font-size: 3.5em;
            /* text-shadow: 2px 1px 1px #eed988; */
            color: white;
            text-align: center;
            font-weight: 600;
            /* margin-bottom: 1em; */
            letter-spacing: 0.12em;
        }

        & h4{
            font-size: 1.8em;
            color: white;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.08em;
            /* width: 80%; */
            margin-bottom: 1em;
        }
        p{
            /* text-shadow: 1px 2px 1px black; */
            font-size: 1.2em;
            color: white;
            text-align: center;
            font-weight: 400;
            letter-spacing: 0.06em;
            width: 80%;
            margin-bottom: 1em;
            overflow-y: hidden;

        }
    }

    & .footer{
        background-color: white;

        & p{
            font-size: 1.2em;
            color: black;
            text-align: center;
            font-weight: 100;
            letter-spacing: 0.05em;
            width: 80%;
            margin-bottom: 1em;
        }
    }

}